.body {
  margin: 0;
  background-color: #979797;
  height: 100%;
}

.wraperCart {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background: #979797;
  border-radius: 20px;
  max-width: 1440px;
  margin: 20px auto;
  max-height: 1000px;

  h1 {
    padding: 40px;
  }
}

.contentCart {
  display: flex;
  justify-content: space-between;
}

.cartComponent {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;

  padding: 20px;
  border-radius: 40px;
  margin: 0 auto;

  width: 800px;
  height: 450px;

  display: flex;
  flex-direction: column-reverse;

  .cartContent {
    display: flex;
  }

  .CartBasketDelete {
    margin-left: auto;
    margin-right: 10px;

    &:hover {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
      transition: 0.5s;
      transition-duration: 0.5s;
    }
  }

  .itemComponent-img {
    margin-left: 20px;
    margin-bottom: 80px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    width: 250px;
    height: 270px;
    margin-right: 20px;
  }

  .itemComponent-title {
    position: absolute;
    padding-left: 330px;
    margin-top: -290px;
    letter-spacing: 1px;
    font-family: "Montserrat";
    font-size: 25px;
  }

  .itemComponent-title-price {
    position: absolute;
    padding-left: 330px;
    margin-top: -230px;
    font-family: "Montserrat";
    font-size: 25px;
  }

  .itemComponent-plus {
    position: absolute;
    margin-left: 180px;
    margin-top: -57px;
    width: 45px;
    height: 45px;
    
    cursor: pointer;

    &:hover {
      background-color: #ffce7f;
      border-radius: 50%;
    }
  }

  .itemComponent-minus {
    position: absolute;
    margin-left: 60px;
    margin-top: -57px;
    width: 47px;
    height: 47px;
    
    cursor: pointer;

    &:hover {
      background-color: #ffce7f;
      border-radius: 50%;
    }
  }

  .itemComponent-count {
    position: absolute;
    margin-left: 137px;
    margin-top: -50px;
    font-family: "Montserrat";
    font-size: 30px;
  }
}

.priceComponent {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;

  padding: 20px;
  border-radius: 30px;
  margin: 0 auto;

  width: 400px;
  height: 180px;

  .contentPrice-C {
    text-align: center;

    .price {
      display: flex;
      justify-content: space-between;
      padding: 20px;

      span {
        font-family: "Montserrat";
        font-size: 20px;
        letter-spacing: 1px;
      }

      b {
        font-family: "Montserrat";
        font-size: 18px;
        letter-spacing: 1px;
      }
    }

    .buttonPrice {
      background: #101010;
      border: 1px solid #f2f2f2;
      border-radius: 8px;
      font-family: "Montserrat";
      cursor: pointer;
      color: #ffffff;

      font-weight: 100;
      font-size: 25px;
      line-height: 5px;

      width: 348.98px;
      height: 65px;
      letter-spacing: 3px;

      &:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 0.5s;
        transition-duration: 0.5s;
      }
    }
  }
}
