.wrapper-sort {
  text-align: center;
  margin: 0 auto;
}

.sort {
  border: 1px solid red;
  border-radius: 20px;

  width: 320px;
  height: 25px;

  margin: 0 auto;
  margin-bottom: 5px;
}

.sort-popup {
  border: 1px solid red;
  border-radius: 20px;

  width: 180px;
  height: 80px;
  padding-top: 5px;

  margin: 0 auto;
  margin-left: 664px;
}
